

#tudo {background: #284980;
       border: 7px solid #FFF;
       border-radius: 30px;
       padding: 15px;
      max-width: 550px;
   margin: auto;
  box-shadow: 7px 7px 9px #000;
  margin-top: 15px;
  opacity: 0.95;
  }
.tec, .cesc {font-family: tahoma;
      font-size: 250%;
      color: #FFF;
      text-align: center;
      font-weight: 550;
     text-shadow: 1px 1px #333333;
  letter-spacing: 0.5px;
}

.cesc {font-size: 180%;
       letter-spacing: 3px;
        }

#logo{width: 580px;
       border-radius: 30px;
 margin:auto;
  box-shadow: 7px 7px 9px #000;
  margin-left: 18%;
  margin-top: 15px;
  border: 7px solid #FFF;
   
  
}